body
{
    background-color: #a2b5d2;
    width: 100%;
}
header 
{
    background-color: #151313;
    color: #fff;
    padding: 20px;
  }
  
  
 .navbar 
 {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  

  
  .nav-links 
  {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-link:hover
  {
    background-color: #c6d0c6;
  }
  .nav-links li 
  {
    margin-right: 20px;
  }
  
  .nav-links a 
  {
    text-decoration: none;
    color: #fff;
  }

  img
  {
    margin: 80px;
    border-radius: 70%;
    height: 400px;
    width: 300px;
    float: right;
    margin-left: 80px;
  }
  .about-me
  {
    float: left;
    width: 50%;
    color: white;
  }
  #about
  {
    font-size: larger;
  }
  #title
  {
    font-size:x-large;
  }



  
