
.nav_menu_list
{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav li {
    display: block;
    margin-bottom: 10px;
  }
}

header
{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter:drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header {
    margin-top: 20px;
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins' , sans-serif;
  }


@media(max-width:995px)
{
  nav{
    position: absolute;
    top: 100%;
    right: 0;
    width: 20%;
    border-left: 3px solid #b74b4b;
    border-bottom: 3px solid #b74b4b;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #161616;
    border-top: 0.1rem solid rgba(0, 0, 0, 1);
  }

  nav.active
  {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;

  }

  nav a:hover
  nav a.active
  {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #b74b4b;
  }
}

nav a:hover,
nav a.active{
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  
  }
  

  :root:not(.light) {
    --background-color: #044965;
    --primary-color: #05668d;
    --font-color: white;
    --secondary-font-color: rgba(226, 232, 240, 1);
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  :root.light {
    --background-color: #f8f9fa;
    --primary-color: #dee2e6;
    --font-color: #212529;
    --secondary-font-color: #495057;
  }
  
  
  .theme-icon {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: var(--box-shadow);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgba(226, 232, 240, 0);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
  }
  
  :root:not(.light) .theme-icon .fa-sun {
    display: none;
  }
  
  :root:not(.light) .theme-icon .fa-moon {
    display: inline-block;
    color: white;
  }
  
  :root.light .theme-icon .fa-sun {
    display: inline-block;
  }
  
  :root.light .theme-icon .fa-moon {
    display: none;
  }
  
  .sr-only {
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .them-button{
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--default-border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 200ms ease-in-out;
  }
  .them-button
    :hover{
    opacity: 0.9;
  }
  
  